<div class="section-container">
    <div *ngFor = "let job of jobs" class="jobs">
        <div class="job-heading">
            <div>
                <h3 class="job-header">{{job.title}}</h3>
            </div>
            <div class="date-section">
                <span>{{job.start}}</span> - <span>{{job.end}}</span>
            </div>
        </div>
        <div class="career-items">
            <div *ngFor = "let item of job.items" class="career-item">
                <div class="section-heading">
                    <div>
                        <h3 class="section-header">{{item.title}}</h3>
                    </div>
                    <div class="date-section">
                        <span>{{item.start}}</span> - <span>{{item.end}}</span>
                    </div>
                </div>
                <ul class="career-bullets">
                    <li *ngFor = "let bullet of item.items" class="career-bullet">
                        {{bullet}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>